* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.fancy {
    color: $blueGreen;
    /* font-family: 'Satisfy', cursive; */
    font-size: 3.5rem;
}

.section-wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
}

.section-title {
    color: $blueGreen;
    font-weight: 300;
    text-transform: uppercase;
}