* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.fancy {
    color: $blueGreen;
    /* font-family: 'Satisfy', cursive; */
    font-size: 3.5rem;
}

.section-wrapper {
    margin: 0 auto;

    /* @mixin atSmall {
        width: 60rem;
    } */

    @mixin atMedium {
        width: 90rem;
    }

    @mixin atLarge {
        width: 130rem;
    }
}

.section-title {
    color: $blueGreen;
    font-weight: 300;
    text-transform: uppercase;
}