.about {
    margin-top: 4rem;
    text-align: center;
}

.about__wrapper {
    display: flex;
    flex-direction: column;

    @mixin atMedium {
        flex-direction: row;
    }
}

.about__img {
    margin: 0 auto;
    width: 20rem;

    @mixin atMedium {
        margin: auto;
        width: 24%;
    }
}

.about__img img {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 100%;
}

.about__section {
    padding: 3rem;

    @mixin atMedium {
        width: 38%;
    }
}