.about {
    margin-top: 4rem;
    text-align: center;
}

.about__wrapper {
    display: flex;
}

.about__img {
    width: 24%;
}

.about__img img {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 100%;
}

.about__section {
    padding: 3rem;
    width: 38%;
}