.learning {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 4rem;
    text-align: center;

    @mixin atMedium {
        flex-direction: row;
        text-align: left;
    }
}

.learning__description {

    @mixin atMedium {
        width: 50%;
    }
}

.learning__floating {
    margin: 0 auto;
    min-height: 40rem;
    position: relative;
    width: 27rem;

    @mixin atSmall {
        width: 40rem;
    }

    @mixin atMedium {
        width: 50%;
    }
}

.learning__floating__skill {
    font-size: 2.5rem;
    position: absolute;
    transition: all 0.2s linear;
}

.learning__floating__skill:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.learning__floating__skill--mongo {
    font-size: 2.7rem;
    left: 0;
    top: 17rem;

    @mixin atSmall {
        left: 9rem;
    }
}

.learning__floating__skill--mongo:hover {
    color: $mainPink;
}

.learning__floating__skill--php {
    font-size: 2.5rem;
    left: 3rem;
    top: 5rem;

    @mixin atSmall {
        left: 35rem;
    }
}

.learning__floating__skill--php:hover {
    color: $blueGreen;
}

.learning__floating__skill--mysql {
    font-size: 2.2rem;
    left: 10rem;
    top: 7rem;

    @mixin atSmall {
        left: 15rem;
    }
}

.learning__floating__skill--mysql:hover {
    color: $mainViolet;
}

.learning__floating__skill--angular {
    font-size: 2.1rem;
    left: 8rem;
    top: 26rem;

    @mixin atSmall {
        left: 0;
    }

    @mixin atMedium {
        left: 19rem;
    }
}

.learning__floating__skill--angular:hover {
    color: $blueGreen;
}

.learning__floating__skill--rest {
    font-size: 2.1rem;
    left: 21rem;
    top: 24rem;

    @mixin atSmall {
        left: 30rem;
        top: 22rem;
    }
}

.learning__floating__skill--rest:hover {
    color: $mainPink;
}

.learning__floating__skill--wordpress {
    font-size: 2.1rem;
    left: 16rem;
    top: 14rem;

    @mixin atSmall {
        left: 3rem;
        top: 12rem;
    }

    @mixin atMedium {
        left: 37rem;
        top: 14rem;
    }
}

.learning__floating__skill--wordpress:hover {
    color: $blueGreen;
}

.learning__floating__skill--sass {
    font-size: 2.1rem;
    left: 15rem;
    top: 20rem;

    @mixin atSmall {
        left: 42rem;
    }
}

.learning__floating__skill--sass:hover {
    color: $mainViolet;
}