.projects {
    margin: 0 auto;
    padding: 0 4rem;
    text-align: center;
}

.projects__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;

    @mixin atMedium {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
    }
}

.projects__section {
    margin: 0 2rem;
    text-align: left;

    @mixin atMedium {
        width: 35%;
    }
}

.projects__img {
    width: 25rem;
}