.projects {
    margin: 0 3rem;
    text-align: center;
}

.projects__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @mixin atMedium {
        flex-direction: row;
    }
}

.projects__section {
    margin: 0 2rem;

    @mixin atMedium {
        width: 35%;
    }
}

.projects__img {
    width: 25rem;
}