.skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 4rem;
    text-align: center;

    @mixin atMedium {
        flex-direction: row;
        text-align: left;
    }
}

.skills__description {
    width: 100%;

    @mixin atMedium {
        width: 50%;
    }
}

.skills__description p {
    text-align: left;
}

.skills__floating {
    margin: 0 auto;
    min-height: 40rem;
    position: relative;
    width: 27rem;

    @mixin atSmall {
        width: 40rem;
    }

    @mixin atMedium {
        width: 50%;
    }
}

.skills__floating__skill {
    font-size: 2.5rem;
    position: absolute;
    transition: all 0.2s linear;
}

.skills__floating__skill:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.skills__floating__skill--node {
    font-size: 2.3rem;
    left: 3rem;
    top: 12rem;

    @mixin atSmall {
        left: 6rem;
    }

    @mixin atMedium {
        left: 3rem;
    }

    @mixin atLarge {
        left: 10rem;
    }
}

.skills__floating__skill--node:hover {
    color: $mainViolet;
}

.skills__floating__skill--html {
    font-size: 2.9rem;
    left: 7rem;
    top: 7rem;

    @mixin atSmall {
        left: 14rem;
    }

    @mixin atMedium {
        left: 7rem;
    }

    @mixin atLarge {
        left: 14rem;
    }
}

.skills__floating__skill--html:hover {
    color: $blueGreen;
}

.skills__floating__skill--css {
    font-size: 3rem;
    left: 12rem;
    top: 15rem;

    @mixin atSmall {
        left: 27rem;
    }

    @mixin atMedium {
        left: 18rem;
        top: 17rem;
    }

    @mixin atLarge {
        left: 27rem;
        top: 14rem;
    }
}

.skills__floating__skill--css:hover {
    color: $mainPink;
}

.skills__floating__skill--js {
    font-size: 2.7rem;
    left: 0;
    top: 20rem;

    @mixin atSmall {
        left: 5rem;
    }

    @mixin atMedium {
        left: 2rem;
    }

    @mixin atLarge {
        left: 5rem;
    }
}

.skills__floating__skill--js:hover {
    color: $blueGreen;
}

.skills__floating__skill--es6 {
    font-size: 2.8rem;
    left: 21rem;
    top: 27rem;

    @mixin atSmall {
        left: 25rem;
        top: 26rem;
    }

    @mixin atMedium {
        left: 27rem;
        top: 32rem;
    }

    @mixin atLarge {
        left: 30rem;
        top: 24rem;
    }
}

.skills__floating__skill--es6:hover {
    color: $mainViolet;
}

.skills__floating__skill--react {
    top: 29rem;
    left: 11rem;

    @mixin atSmall {
        top: 33rem;
    }

    @mixin atMedium {
        top: 35rem;
    }

    @mixin atLarge {
        top: 29rem;
    }
}

.skills__floating__skill--react:hover {
    color: $mainPink;
}

.skills__floating__skill--jquery {
    font-size: 2.2rem;
    left: 19rem;
    top: 19rem;

    @mixin atSmall {
        left: 38rem;
        top: 17rem;
    }

    @mixin atMedium {
        left: 25rem;
        top: 23rem;
    }

    @mixin atLarge {
        left: 45rem;
        top: 17rem;
    }
}

.skills__floating__skill--jquery:hover {
    color: $blueGreen;
}

.skills__floating__skill--php {
    font-size: 2rem;
    left: 14rem;
    top: 3rem;

    @mixin atSmall {
        left: 34rem;
    }

    @mixin atMedium {
        left: 14rem;
    }

    @mixin atLarge {
        left: 34rem;
    }
}

.skills__floating__skill--php:hover {
    color: $mainViolet;
}

.skills__floating__skill--gulp {
    font-size: 2rem;
    left: 18rem;
    top: 9rem;

    @mixin atSmall {
        left: 40rem;
        top: 7rem;
    }

    @mixin atMedium {
        left: 23rem;
        top: 12rem;
    }

    @mixin atLarge {
        left: 40rem;
        top: 7rem;
    }
}

.skills__floating__skill--gulp:hover {
    color: $mainViolet;
}

.skills__floating__skill--git {
    font-size: 2rem;
    left: 14rem;
    top: 34rem;

    @mixin atSmall {
        left: 37rem;
        top: 34rem;
    }

    @mixin atMedium {
        left: 14rem;
        top: 43rem;
    }

    @mixin atLarge {
        left: 38rem;
        top: 34rem;
    }
}

.skills__floating__skill--git:hover {
    color: $blueGreen;
}

.skills__floating__skill--json {
    font-size: 2rem;
    left: 0;
    top: 4rem;

    @mixin atSmall {
        left: 3rem;
    }

    @mixin atMedium {
        left: 0;
    }

    @mixin atLarge {
        left: 3rem;
    }
}

.skills__floating__skill--json:hover {
    color: $mainPink;
}

.skills__floating__skill--npm {
    font-size: 2rem;
    left: 22rem;
    top: 6rem;

    @mixin atSmall {
        left: 29rem;
        top: 8rem;
    }

    @mixin atMedium {
        left: 26rem;
        top: 8rem;
    }

    @mixin atLarge {
        left: 31rem;
        top: 8rem;
    }
}

.skills__floating__skill--npm:hover {
    color: $mainPink;
}

.skills__floating__skill--ajax {
    font-size: 2rem;
    left: 19rem;
    top: 23rem;

    @mixin atSmall {
        left: 36rem;
        top: 23rem;
    }

    @mixin atMedium {
        left: 19rem;
        top: 28rem;
    }

    @mixin atLarge {
        left: 38rem;
        top: 23rem;
    }
}

.skills__floating__skill--ajax:hover {
    color: $mainPink;
}

.skills__floating__skill--bem {
    font-size: 2rem;
    left: 0;
    top: 30rem;

    @mixin atLarge {
        left: 42rem;
    }
}

.skills__floating__skill--bem:hover {
    color: $mainViolet;
}

.skills__floating__skill--sass {
    font-size: 2.2rem;
    left: 3rem;
    top: 38rem;

    @mixin atLarge {
        left: 30rem;
        top: 30rem;
    }
}

.skills__floating__skill--sass:hover {
    color: $mainPink;
}

.skills__floating__skill--webpack {
    font-size: 2.3rem;
    left: 16rem;
    top: 37rem;

    @mixin atSmall {
        left: 21rem;
        top: 36rem;
    }

    @mixin atMedium {
        left: 0;
        top: 33rem;
    }

    @mixin atLarge {
        left: 20rem;
    }
}

.skills__floating__skill--webpack:hover {
    color: $mainViolet;
}

.skills__floating__skill--mysql {
    font-size: 2.4rem;
    left: 10rem;
    top: 25rem;

    @mixin atSmall {
        top: 26rem;
    }

    @mixin atMedium {
        left: 8rem;
        top: 28rem;
    }

    @mixin atLarge {
        font-size: 2.2rem;
        left: 22rem;
        top: 20rem;
    }
}

.skills__floating__skill--mysql:hover {
    color: $mainViolet;
}

.skills__floating__skill--mongo {
    font-size: 2.4rem;
    left: -2rem;
    top: 16rem;

    @mixin atSmall {
        left: 0;
    }

    @mixin atLarge {
        left: 40rem;
        top: 12rem;
    }
}

.skills__floating__skill--mongo:hover {
    color: $blueGreen;
}

.skills__floating__skill--redux {
    font-size: 2.3rem;
    left: -2rem;
    top: 25rem;

    @mixin atMedium {
        left: 0;
    }

    @mixin atLarge {
        left: 44rem;
    }
}

.skills__floating__skill--redux:hover {
    color: $blueGreen;
}