.skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @mixin atMedium {
        flex-direction: row;
    }
}

.skills__description {
    width: 100%;

    @mixin atMedium {
        width: 50%;
    }
}

.skills__floating {
    min-height: 40rem;
    position: relative;
    width: 100%;

    @mixin atMedium {
        width: 50%;
    }
}

.skills__floating__skill {
    font-size: 2.5rem;
    position: absolute;
    transition: all 0.2s linear;
}

.skills__floating__skill:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.skills__floating__skill--node {
    font-size: 2.3rem;
    left: 3rem;
    top: 12rem;

    @mixin atMedium {
        left: 10rem;
    }
}

.skills__floating__skill--node:hover {
    color: $mainViolet;
}

.skills__floating__skill--html {
    font-size: 2.9rem;
    left: 7rem;
    top: 7rem;

    @mixin atLarge {
        left: 14rem;
    }
}

.skills__floating__skill--html:hover {
    color: $blueGreen;
}

.skills__floating__skill--css {
    font-size: 3rem;
    left: 15rem;
    top: 14rem;

    @mixin atLarge {
        left: 27rem;
    }
}

.skills__floating__skill--css:hover {
    color: $mainPink;
}

.skills__floating__skill--js {
    font-size: 2.7rem;
    left: 2rem;
    top: 20rem;

    @mixin atLarge {
        left: 5rem;
    }
}

.skills__floating__skill--js:hover {
    color: $blueGreen;
}

.skills__floating__skill--es6 {
    font-size: 2.8rem;
    left: 21rem;
    top: 27rem;

    @mixin atLarge {
        left: 30rem;
        top: 24rem;
    }
}

.skills__floating__skill--es6:hover {
    color: $mainViolet;
}

.skills__floating__skill--react {
    top: 29rem;
    left: 11rem;
}

.skills__floating__skill--react:hover {
    color: $mainPink;
}

.skills__floating__skill--jquery {
    font-size: 2.2rem;
    left: 21rem;
    top: 19rem;

    @mixin atLarge {
        left: 45rem;
        top: 17rem;
    }
}

.skills__floating__skill--jquery:hover {
    color: $blueGreen;
}

.skills__floating__skill--python {
    font-size: 2rem;
    left: 14rem;
    top: 3rem;

    @mixin atLarge {
        left: 34rem;
    }
}

.skills__floating__skill--python:hover {
    color: $mainViolet;
}

.skills__floating__skill--gulp {
    font-size: 2rem;
    left: 18rem;
    top: 9rem;

    @mixin atLarge {
        left: 40rem;
        top: 7rem;
    }
}

.skills__floating__skill--gulp:hover {
    color: $mainViolet;
}

.skills__floating__skill--git {
    font-size: 2rem;
    left: 14rem;
    top: 34rem;

    @mixin atLarge {
        left: 38rem;
    }
}

.skills__floating__skill--git:hover {
    color: $blueGreen;
}

.skills__floating__skill--json {
    font-size: 2rem;
    left: 0;
    top: 4rem;

    @mixin atLarge {
        left: 3rem;
    }
}

.skills__floating__skill--json:hover {
    color: $mainPink;
}

.skills__floating__skill--npm {
    font-size: 2rem;
    left: 22rem;
    top: 6rem;

    @mixin atLarge {
        left: 31rem;
    }
}

.skills__floating__skill--npm:hover {
    color: $mainPink;
}

.skills__floating__skill--ajax {
    font-size: 2rem;
    left: 19rem;
    top: 23rem;

    @mixin atLarge {
        left: 38rem;
    }
}

.skills__floating__skill--ajax:hover {
    color: $mainPink;
}

.skills__floating__skill--bem {
    font-size: 2rem;
    left: 4rem;
    top: 30rem;

    @mixin atLarge {
        left: 42rem;
    }
}

.skills__floating__skill--bem:hover {
    color: $mainViolet;
}

